body{
    text-align: center;
    background: -webkit-linear-gradient(right, #d1a17a, #82b3eb);
    font-family: sans-serif
}

#MyStudentCard{
    border-radius: 5px;
    border: solid 2px;
}

.shape{
    border: solid;
    border-radius: 10px;
    padding: 6px;
    background-color: gainsboro;
}

.paragraph{
    text-align: left;
}

.page{
    border: solid;
    border-radius: 10px;
    background-color: #999999;
    border-color: black;
    color: black;
    margin: 20px;
    padding: 5px;
    display: inline-block;
}

video{
    width: 50%;
    border: solid white;
    border-radius: 10%;
    padding: 3px;
}

fieldset{
    border: solid 4px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: solid 2px;
    margin-bottom: 40px;
}

td, th{
    border: solid 2px;
}

details{
    margin-bottom: 400px;
    margin-top: 20px;
}